body {
    margin: 0;
    overflow: hidden;
}

.screen {
    padding: 2em;
    justify-content: center;
    text-align: center;
    min-height: 90vh;
    width: 100%;
    font-size: 1.5em;
}

.input-container {
    display: flex;
    width: 95%;
    justify-content: center;
}

.website-input {
    width: 50%;
    height: 100%;
    font-size: 1em;
    padding: 0.3em;
    outline: none;
}

#websiteInputBtn {
    cursor: pointer;
    padding: 0.6em;
}

#blockedWebsites {
    width: 95%;
    justify-content: center;
    text-align: center;
    margin-top: 1.6em;
}
